@page "/all-entries"
@layout MainLayout
@using JournalApp.Models
@inject Session Session
@inject NavigationManager Nav
@inject IEntryService EntryService

<div class="page-header">
    <h1>All Entries</h1>
    <p>View your journal history</p>
</div>

<div class="card">
    <table class="table">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Title</th>
                <th>Mood</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }

            @foreach (var entry in Entries)
            {
                <tr>
                    <td>@i</td>
                    <td>@entry.Title</td>

                    <td>
                        @(entry.EntryMoods.Any()
                                            ? entry.EntryMoods.First().Mood?.MoodName
                                            : "Not set")
                    </td>


                    <!-- Category -->
                    <td>@entry.Tag?.TagName</td>

                    <!-- Date -->
                    <td>@entry.EntryDate.ToString("yyyy-MM-dd")</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>

@code {
    List<JournalEntry> Entries = new();

    protected override async Task OnInitializedAsync()
    {
        if (Session.CurrentUser == null)
        {
            Nav.NavigateTo("/login");
            return;
        }

        Entries = await EntryService.GetEntries(Session.CurrentUser.UserId);
    }
}
